extends ../layout

block content
  .detail
    img(src=`${book.image}`, alt=`${book.title}`, width='250', height='300')
    h1= book.title
    h2= `${authors.map( author => author.name ).join(', ')}`
    h3= `${genres.map( genre => genre.name ).join(', ')}`
    p= book.description
    p= book.published

    .links
      a(href="/books/add") New
      a(href=`/books/edit/${book.id}`) Edit
      a(href=`/books/delete/${book.id}`) Delete
