//- extends layout
//-
//- block content
//-   h1= title
//-   p Welcome to #{title}


//- /*The new code */



extends layout

block content
  main
    aside
      form
        div
          input.search-box(type='text', name='search', placeholder='Search..')

        label
          input(type='radio', value='byTitle', name='type')
          i Book Titles
        label
          input(type='radio', value='byAuthor', name='type')
          i Authors
        label
          input(type='radio', value='byGenre', name='type')
          i Genres

        div
          button.submit(type='submit') Search

    article
      .page
        p pages:
        - var page = 0
        while page * 10 < count
          a(href=`/?page=${page + 1}`)= ++page

    div.bookview
     for book in books
       p=book.title
       p=book.description
       img(src=book.image, alt='thumbnail', width='200', height='300')
